.complaint-widget {
  text-align: center;
  width: 100%;
  margin-left: 10px;
  padding: 10px;
  background-color: #22427e;
  border-radius: 25px;
  color: lemonchiffon;
}

.complaint-widget h3 {
  padding-right: 10px;
  padding-top: 10px;
  margin-bottom: 0;
  padding-bottom: 0;
}

