.login-container {
  padding: 20px;
  background: linear-gradient(to right, #000428, #000046);
  color: white;
}

.username-container button {
  background: linear-gradient(to right, #000428, #000046);
  &:hover {
    opacity: 1;
    color: gray;
  }
}

form {
  display: flex;
  justify-content: center;
  align-items: flex-start;

  & > * {
    margin-right: 5px;
  }

  i {
    cursor: pointer;
  }
}
.login-button:hover {
  /* opacity: 85%; */
  cursor: pointer;
}

.username-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
