.council-person-card {
  background: linear-gradient(to right, #000428, #000046);
  width: 350px;
  display: flex;
  gap: 10px;
  padding: 15px;
  margin: 15px;
  border-radius: 10px;
  box-shadow: 0 0 2px rgba(67, 69, 199, 0.3);
  &:hover {
    box-shadow: 0 0 15px rgb(38, 78, 189);
    cursor: pointer;
  }
}

.thumbnail-card {
  border-radius: 20px;
  width: 125px;
  height: 150px;
}



.blue {
  color: dodgerblue;
}
.yellow {
  color: rgb(203, 203, 3);
}

.green {
  color: rgb(26, 199, 26);
}

.red {
  color: red;
}

.council-person-card__info b {
  color: lemonchiffon;
}

.borough {
  padding-top: 3px;
}

.district {
  color: rgba(127, 255, 212, 0.564);
}


@media (max-width: 480px) {
  .council-person-card {
    flex-direction: column;
    width: 90%; 
    margin: 10px auto; 
    padding: 10px;
  }

  .thumbnail-card {
    width: 100px;
    height: 120px;
    margin: 0 auto; 
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .council-person-card {
    width: 80%; 
    flex-direction: row; 
    padding: 15px;
    margin: 15px auto; 
  }

  .thumbnail-card {
    width: 110px;
    height: 140px;
  }
}