nav {
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
  margin-bottom: 40px;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  max-width: 1300px;
  margin: 0 auto;
}

.logo {
  width: 50px;
  height: 50px;
}

.logo-title {
  color: #2f56a6;
  font-weight: 400;
  font-size: 1.5rem;
  font-family: Georgia, Cambria, "Times New Roman", Times, serif;
}

.greeting {
  gap: 10px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.greeting:hover {
  cursor: pointer;
}
