.table-btn-container {
  padding: 10px;
}

.table-btn-container button {
  margin-bottom: 10px;
}

.complaint-icon {
  border-radius: 15px;
  width: 75px;
  height: 50px;
}

.icon-container {
  display: flex;
  justify-content: space-around;
}


@media (max-width: 576px) {
  .complaint-icon {
    width: 50px; 
    height: 30px;
  }
  .icon-container {
    flex-direction: column; 
  }
}
