.user-container-card {
  background-color: #22427e;
  width: 800px;
}

.card-body {
  text-align: center;
}

.user-info {
  color: aliceblue;
  display: flex;
  justify-content: space-between;
}

.user-info-container {
  padding: 40px;
}

.party {
  width: 100px;
  height: 100px;
  border-radius: 30px;
  margin-right: 0px;
  padding: 5px;
}

.thumbnail {
  border-radius: 15px;
  width: 15rem;
  height: 16rem;
}

.user-title {
  color: aliceblue;
}

.card-text {
  text-align: center;
}
